@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap");
@import url(https://fonts.bunny.net/css?family=nunito:400,400i,600,600i,800,800i);
@import url('https://fonts.googleapis.com/css?family=Anton|Roboto');
@import url("ASSETS/stuffs-style-sheet.css");

/* GRADIENT EFFECT BACKGROUND*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::before,
*::after {
  box-sizing: border-box;
}
html,
body {
  display: block;
  overscroll-behavior-x: none;
  overscroll-behavior-y: none;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@property --hue1 {
  syntax: "<angle>";
  inherits: false;
  initial-value: 0deg;
}
@property --hue2 {
  syntax: "<angle>";
  inherits: false;
  initial-value: 0deg;
}

body {
  font-family: "Geist", sans-serif;
  position: relative;
  width: 100%;
  max-width: 100vw;
  min-height: 100vh;
  text-align: center;
  overflow-x: hidden;
  background-image: linear-gradient(
      in oklch longer hue to right,
      oklch(0.93 0.08 var(--hue1) / 50%),
      oklch(0.93 0.08 var(--hue2) / 50%)
    ),
    linear-gradient(
      in oklch longer hue to bottom,
      oklch(0.93 0.08 var(--hue1) / 50%),
      oklch(0.93 0.08 var(--hue2) / 50%)
    );

  background-size: 100% 100%;
  color: PaleVioletRed;
  animation: anim_bg 5s linear infinite;
}

@keyframes anim_bg {
  0% {
    --hue1: 0deg;
    --hue2: 300deg;
  }
  100% {
    --hue1: 360deg;
    --hue2: 660deg;
  }
}

main {
  position: relative;
}

section {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 100vh;
  display: grid;
  place-items: center;
}

h1 {
  text-transform: uppercase;
}
/* END GRADIENT EFFECT BACKGROUND */


/* HEADER */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

/* NAV HEADER */
*,*::before,*::after{box-sizing:border-box}body{margin:0;padding:0;width:100vw;height:100vh;display:flex;justify-content:center;align-items:center;font-family:'Nunito', sans-serif;font-size:16px;line-height:1.5}
:root{
    --color1:#000;
    --color2:#fff;
    --height:40px;
    --width:110px;
    --border:2px;
}
#cubicle {
    height: var(--height);

}
#cubicle > .links {
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se ajusten en pantallas pequeñas */
    list-style: none;
    width: 100%;
}
#cubicle > .links li {
    min-width: var(--width);
    height: var(--height);
    margin: 0 0 0 0; /* Espacio entre los elementos antes: 0 0 0 calc(-1 * var(--border)); */
    perspective: 1000px;
    z-index: 1;
}
#cubicle > .links li:first-child {
    margin-left: 0;
}
#cubicle > .links li:hover {
    z-index: 2;
}
#cubicle > .links a {
    display: block;
    height: var(--height);
    position: relative;
    text-decoration: none;
    transform-style: preserve-3d;
    transform: translateZ(calc(-1 * calc(var(--height) / 2)));
    transition: transform 0.5s cubic-bezier(.08,.82,.17,1);
}
#cubicle > .links a:hover {
    transform: translateZ(calc(-1 * calc(var(--height) / 2))) rotateX(-90deg);
}
#cubicle > .links a::before,
#cubicle > .links a::after {
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--width);
    height: var(--height);
    position: absolute;
    border: var(--border) solid var(--color1);
    content: attr(title);
}
#cubicle > .links a::before {
    background-color: transparent; /* Fondo transparente */
    color: var(--color1); /* Letras negras */
    transform: rotateY(0deg) translateZ(calc(var(--height) / 2));
}
#cubicle > .links a::after {
    background-color: var(--color1); /* Fondo negro */
    color: var(--color2); /* Letras blancas */
    transform: rotateX(90deg) translateZ(calc(var(--height) / 2));
}

/* END NAV HEADER */
/* END HEADER */



/* TYPING EFFECT */
.typing {
  color: black;
  font-family: monospace;
  font-size: 2em;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@media (max-width: 768px) {
  .typing {
    font-size: 1.2em;
  }
}

@media (max-width: 480px) {
  .typing {
    font-size: 1em;
  }
}

.typing::before {
  content: "👋 Hey! I’m Claudia Tardito.";
  color: black;
}

.typing-line {
  display: inline-block;
  border-right: 0.1em solid black;
  font-family: monospace;
  padding-left: 5px;
  animation: type 3s steps(40) forwards, blink 0.8s step-end infinite;

}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
/* END TYPING EFFECT */

